@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: Roboto, sans-serif, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.header {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

ul {
    display: flex;
    margin: 0;
    list-style: none;
    align-items: center;
    font-size: 18px;
}

li a {
    text-decoration: none;
    padding: 20px;
    color: #e5e7eb;
}

.logo {
    width: 75px;
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    flex-wrap: wrap;
}

.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.section-2 {
    display: flex;
    justify-content: center;
}

.tester-text {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 50px;
}

.cat-container {
    display: flex;
    width: 1000px;
    justify-content: space-around;
    margin: 50px;
}

.cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

.cat img {
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}



.description {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote {
    width: 700px;
    margin: 100px;
    gap: 10px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;

    
}

.quote-name {
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
    text-align: right;
}

 .hero-photo {
    width: 500px;

}

.header-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.hero {
    width: 1000px; 
}

.container-1 {
    width: 1000px;
    display: flex;
    gap: 15px;
}