@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: Roboto, sans-serif, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

ul {
    display: flex;
    margin: 0;
    list-style: none;
    align-items: center;
    font-size: 18px;
}

li a {
    text-decoration: none;
    padding: 20px;
    color: #e5e7eb;
}

.logo {
    width: 75px;
}

.section-1 {
    background-color: #1f2937;
    display: flex;  
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    flex-wrap: wrap;
}

.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.section-2 {
    display: flex;
    flex-direction: column;
}

.cat-container {
    display: flex;
}

h2 {
    text-align: center;
}

.cat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cat img {
    width: 150px;
}

div .picture {
    border: 3px;
    border-color: #3882f6;
}

.description {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

.section-3 {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    color: #1f2937;
    
}

.quote-name {
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
    text-align: right;
}

 .hero-photo {
    width: 300px;
}
